.contact {
  background-color: #221e3f;
}
form {
  width: 70%;
  margin: 0 auto;
}
form label {
  font-size: 1.5rem;
}
input,
select,
textarea {
  background: rgb(228, 227, 227);
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  outline-color: #fd57bf;
}
input[type="submit"] {
  width: initial;
  background-color: #fd57bf;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 650ms;
}
input[type="submit"]:hover {
  color: #221e3f;
  background-color: #ffe838;
}
.copyright {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}
.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: rgb(228, 227, 227);
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  animation: pulse 2s infinite;
  cursor: pointer;
  @include flex(center, center, row);
}
.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}
.copyright p {
  font-size: 1.4rem;
}
